In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
data=pd.read_csv('dataset/Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [4]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [5]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [6]:
# One-hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [7]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [8]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [9]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [10]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [11]:
# Save the encoders and scaler for later use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

#### ANN Regression Problem statement

In [12]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

WARNING:tensorflow:From d:\Data Science\Bank-Churn-Modeling-using-ANN\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [13]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

WARNING:tensorflow:From d:\Data Science\Bank-Churn-Modeling-using-ANN\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From d:\Data Science\Bank-Churn-Modeling-using-ANN\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [14]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [15]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [16]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From d:\Data Science\Bank-Churn-Modeling-using-ANN\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From d:\Data Science\Bank-Churn-Modeling-using-ANN\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 3s 5ms/step - loss: 100395.4688 - mae: 100395.4688 - val_loss: 98588.8750 - val_mae: 98588.8750
Epoch 2/100
250/250 [==============================] - 1s 4ms/step - loss: 99899.9297 - mae: 99899.9297 - val_loss: 97557.2734 - val_mae: 97557.2734
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 98013.1875 - mae: 98013.1875 - val_loss: 94707.6250 - val_mae: 94707.6250
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 94089.2969 - mae: 94089.2969 - val_loss: 89696.1094 - val_mae: 89696.1094
Epoch 5/100
250/250 [==============================] - 1s 2ms/step - loss: 88122.6016 - mae: 88122.6016 - val_loss: 82927.7734 - val_mae: 82927.7734
Epoch 6/100
250/250 [==============================] - 2s 6ms/step - loss: 80587.6562 - mae: 80587.6562 - val_loss: 75110.9531 - val_mae: 75110.9531
Epoch 7/100
250/250 [==============================] - 1s 5ms/step - loss: 72490.7656 - mae: 72490.7656 - val_loss: 67542.6250 - val_mae: 67542.6250
Epoch 8/100
250/250 [==============================] - 1s 4ms/step - loss: 64995.7773 - mae: 64995.7773 - val_loss: 61018.5195 - val_mae: 61018.5195
Epoch 9/100
250/250 [==============================] - 1s 5ms/step - loss: 58998.7070 - mae: 58998.7070 - val_loss: 56263.8633 - val_mae: 56263.8633
Epoch 10/100
250/250 [==============================] - 1s 5ms/step - loss: 54923.0273 - mae: 54923.0273 - val_loss: 53371.1797 - val_mae: 53371.1797
Epoch 11/100
250/250 [==============================] - 1s 5ms/step - loss: 52569.7031 - mae: 52569.7031 - val_loss: 51912.0156 - val_mae: 51912.0156
Epoch 12/100
250/250 [==============================] - 1s 4ms/step - loss: 51392.0273 - mae: 51392.0273 - val_loss: 51290.7461 - val_mae: 51290.7461
Epoch 13/100
250/250 [==============================] - 1s 5ms/step - loss: 50840.9609 - mae: 50840.9609 - val_loss: 51023.0039 - val_mae: 51023.0039
Epoch 14/100
250/250 [==============================] - 2s 7ms/step - loss: 50556.1641 - mae: 50556.1641 - val_loss: 50896.6406 - val_mae: 50896.6406
Epoch 15/100
250/250 [==============================] - 2s 6ms/step - loss: 50407.2031 - mae: 50407.2031 - val_loss: 50826.4492 - val_mae: 50826.4492
Epoch 16/100
250/250 [==============================] - 1s 5ms/step - loss: 50321.9844 - mae: 50321.9844 - val_loss: 50765.2148 - val_mae: 50765.2148
Epoch 17/100
250/250 [==============================] - 1s 4ms/step - loss: 50257.3125 - mae: 50257.3125 - val_loss: 50707.8516 - val_mae: 50707.8516
Epoch 18/100
250/250 [==============================] - 1s 4ms/step - loss: 50202.3516 - mae: 50202.3516 - val_loss: 50663.6328 - val_mae: 50663.6328
Epoch 19/100
250/250 [==============================] - 1s 4ms/step - loss: 50150.2891 - mae: 50150.2891 - val_loss: 50618.5156 - val_mae: 50618.5156
Epoch 20/100
250/250 [==============================] - 1s 5ms/step - loss: 50106.8516 - mae: 50106.8516 - val_loss: 50581.4258 - val_mae: 50581.4258
Epoch 21/100
250/250 [==============================] - 1s 4ms/step - loss: 50069.7148 - mae: 50069.7148 - val_loss: 50546.2266 - val_mae: 50546.2266
Epoch 22/100
250/250 [==============================] - 1s 4ms/step - loss: 50030.4727 - mae: 50030.4727 - val_loss: 50525.8008 - val_mae: 50525.8008
Epoch 23/100
250/250 [==============================] - 1s 4ms/step - loss: 49998.8438 - mae: 49998.8438 - val_loss: 50505.1484 - val_mae: 50505.1484
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 49963.1914 - mae: 49963.1914 - val_loss: 50484.8047 - val_mae: 50484.8047
Epoch 25/100
250/250 [==============================] - 1s 4ms/step - loss: 49934.5156 - mae: 49934.5156 - val_loss: 50454.7891 - val_mae: 50454.7891
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 49904.4609 - mae: 49904.4609 - val_loss: 50441.6719 - val_mae: 50441.6719
Epoch 27/100
250/250 [==============================] - 1s 4ms/step - loss: 49879.2969 - mae: 49879.2969 - val_loss: 50421.7344 - val_mae: 50421.7344
Epoch 28/100
250/250 [==============================] - 1s 4ms/step - loss: 49858.0742 - mae: 49858.0742 - val_loss: 50406.8750 - val_mae: 50406.8750
Epoch 29/100
250/250 [==============================] - 1s 4ms/step - loss: 49831.5625 - mae: 49831.5625 - val_loss: 50394.0508 - val_mae: 50394.0508
Epoch 30/100
250/250 [==============================] - 1s 3ms/step - loss: 49812.8477 - mae: 49812.8477 - val_loss: 50380.8047 - val_mae: 50380.8047
Epoch 31/100
250/250 [==============================] - 1s 4ms/step - loss: 49790.5977 - mae: 49790.5977 - val_loss: 50361.6250 - val_mae: 50361.6250
Epoch 32/100
250/250 [==============================] - 1s 4ms/step - loss: 49774.6094 - mae: 49774.6094 - val_loss: 50363.9102 - val_mae: 50363.9102
Epoch 33/100
250/250 [==============================] - 1s 4ms/step - loss: 49752.7969 - mae: 49752.7969 - val_loss: 50340.3828 - val_mae: 50340.3828
Epoch 34/100
250/250 [==============================] - 1s 4ms/step - loss: 49733.8320 - mae: 49733.8320 - val_loss: 50335.3047 - val_mae: 50335.3047
Epoch 35/100
250/250 [==============================] - 1s 3ms/step - loss: 49719.1602 - mae: 49719.1602 - val_loss: 50320.1953 - val_mae: 50320.1953
Epoch 36/100
250/250 [==============================] - 1s 4ms/step - loss: 49707.5703 - mae: 49707.5703 - val_loss: 50319.3086 - val_mae: 50319.3086
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 49689.3750 - mae: 49689.3750 - val_loss: 50315.1172 - val_mae: 50315.1172
Epoch 38/100
250/250 [==============================] - 1s 4ms/step - loss: 49679.2578 - mae: 49679.2578 - val_loss: 50313.7188 - val_mae: 50313.7188
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 49667.2695 - mae: 49667.2695 - val_loss: 50304.9844 - val_mae: 50304.9844
Epoch 40/100
250/250 [==============================] - 1s 4ms/step - loss: 49653.1875 - mae: 49653.1875 - val_loss: 50301.0117 - val_mae: 50301.0117
Epoch 41/100
250/250 [==============================] - 1s 3ms/step - loss: 49641.8164 - mae: 49641.8164 - val_loss: 50292.0508 - val_mae: 50292.0508
Epoch 42/100
250/250 [==============================] - 1s 3ms/step - loss: 49628.9766 - mae: 49628.9766 - val_loss: 50289.7109 - val_mae: 50289.7109
Epoch 43/100
250/250 [==============================] - 1s 3ms/step - loss: 49619.6758 - mae: 49619.6758 - val_loss: 50287.7070 - val_mae: 50287.7070
Epoch 44/100
250/250 [==============================] - 1s 3ms/step - loss: 49608.6602 - mae: 49608.6602 - val_loss: 50289.8086 - val_mae: 50289.8086
Epoch 45/100
250/250 [==============================] - 1s 3ms/step - loss: 49600.3047 - mae: 49600.3047 - val_loss: 50289.6914 - val_mae: 50289.6914
Epoch 46/100
250/250 [==============================] - 1s 4ms/step - loss: 49592.0508 - mae: 49592.0508 - val_loss: 50296.0430 - val_mae: 50296.0430
Epoch 47/100
250/250 [==============================] - 1s 5ms/step - loss: 49579.1953 - mae: 49579.1953 - val_loss: 50283.2773 - val_mae: 50283.2773
Epoch 48/100
250/250 [==============================] - 1s 5ms/step - loss: 49571.6172 - mae: 49571.6172 - val_loss: 50284.6445 - val_mae: 50284.6445
Epoch 49/100
250/250 [==============================] - 1s 5ms/step - loss: 49565.3086 - mae: 49565.3086 - val_loss: 50281.2031 - val_mae: 50281.2031
Epoch 50/100
250/250 [==============================] - 1s 4ms/step - loss: 49556.6602 - mae: 49556.6602 - val_loss: 50278.6641 - val_mae: 50278.6641
Epoch 51/100
250/250 [==============================] - 1s 4ms/step - loss: 49548.5000 - mae: 49548.5000 - val_loss: 50275.1094 - val_mae: 50275.1094
Epoch 52/100
250/250 [==============================] - 1s 4ms/step - loss: 49542.0391 - mae: 49542.0391 - val_loss: 50270.5547 - val_mae: 50270.5547
Epoch 53/100
250/250 [==============================] - 1s 5ms/step - loss: 49532.9258 - mae: 49532.9258 - val_loss: 50270.6484 - val_mae: 50270.6484
Epoch 54/100
250/250 [==============================] - 1s 4ms/step - loss: 49528.6523 - mae: 49528.6523 - val_loss: 50268.9922 - val_mae: 50268.9922
Epoch 55/100
250/250 [==============================] - 1s 4ms/step - loss: 49523.1523 - mae: 49523.1523 - val_loss: 50262.8438 - val_mae: 50262.8438
Epoch 56/100
250/250 [==============================] - 1s 4ms/step - loss: 49515.6211 - mae: 49515.6211 - val_loss: 50259.9531 - val_mae: 50259.9531
Epoch 57/100
250/250 [==============================] - 1s 4ms/step - loss: 49512.0469 - mae: 49512.0469 - val_loss: 50257.5391 - val_mae: 50257.5391
Epoch 58/100
250/250 [==============================] - 1s 3ms/step - loss: 49503.3398 - mae: 49503.3398 - val_loss: 50267.6523 - val_mae: 50267.6523
Epoch 59/100
250/250 [==============================] - 1s 4ms/step - loss: 49496.3906 - mae: 49496.3906 - val_loss: 50272.7070 - val_mae: 50272.7070
Epoch 60/100
250/250 [==============================] - 1s 4ms/step - loss: 49490.9609 - mae: 49490.9609 - val_loss: 50268.1094 - val_mae: 50268.1094
Epoch 61/100
250/250 [==============================] - 1s 3ms/step - loss: 49488.3945 - mae: 49488.3945 - val_loss: 50263.2070 - val_mae: 50263.2070
Epoch 62/100
250/250 [==============================] - 1s 3ms/step - loss: 49481.0586 - mae: 49481.0586 - val_loss: 50270.9688 - val_mae: 50270.9688
Epoch 63/100
250/250 [==============================] - 1s 4ms/step - loss: 49477.0117 - mae: 49477.0117 - val_loss: 50251.3789 - val_mae: 50251.3789
Epoch 64/100
250/250 [==============================] - 1s 4ms/step - loss: 49469.5117 - mae: 49469.5117 - val_loss: 50256.9062 - val_mae: 50256.9062
Epoch 65/100
250/250 [==============================] - 1s 4ms/step - loss: 49464.3516 - mae: 49464.3516 - val_loss: 50252.2812 - val_mae: 50252.2812
Epoch 66/100
250/250 [==============================] - 1s 4ms/step - loss: 49462.4141 - mae: 49462.4141 - val_loss: 50255.5391 - val_mae: 50255.5391
Epoch 67/100
250/250 [==============================] - 1s 4ms/step - loss: 49454.2617 - mae: 49454.2617 - val_loss: 50263.4688 - val_mae: 50263.4688
Epoch 68/100
250/250 [==============================] - 1s 4ms/step - loss: 49451.9766 - mae: 49451.9766 - val_loss: 50267.1445 - val_mae: 50267.1445
Epoch 69/100
250/250 [==============================] - 1s 3ms/step - loss: 49447.8711 - mae: 49447.8711 - val_loss: 50266.0234 - val_mae: 50266.0234
Epoch 70/100
250/250 [==============================] - 1s 3ms/step - loss: 49439.6758 - mae: 49439.6758 - val_loss: 50269.0352 - val_mae: 50269.0352
Epoch 71/100
250/250 [==============================] - 1s 3ms/step - loss: 49437.2578 - mae: 49437.2578 - val_loss: 50267.2148 - val_mae: 50267.2148
Epoch 72/100
250/250 [==============================] - 1s 3ms/step - loss: 49431.0078 - mae: 49431.0078 - val_loss: 50271.6445 - val_mae: 50271.6445
Epoch 73/100
250/250 [==============================] - 1s 3ms/step - loss: 49426.6641 - mae: 49426.6641 - val_loss: 50268.8555 - val_mae: 50268.8555

In [17]:
%load_ext tensorboard

In [18]:
%tensorboard --logdir regressionlogs/fit